* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --bs-grayb: #2f435e;
  --bs-gray: #44566c;
  --bs-white3: #ececec;
  --bs-whiteh: #e0dddd;
  --bs-gray10: #4b5e65;
  --bs-pourpr: #201b22;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --grayb: #6c757dbe;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  background-color: var(--bs-white3);
}

/* //////////// Nav Bar */
/* nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: ;
  background-color: #2f435eec;
  backdrop-filter: blur(2px);
  padding: 3rem;
  text-align: center;
  top: 0;
  width: 100%;
}

.nav-logo p {
  color: var(--bs-white3);
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
}

.nav-list li {
  display: flex;
  align-items: center;
  list-style: none;
} 
.nav-list li>a {
  color: var(--bs-white3);
  text-decoration: none;
  padding: 10px;
  border: var(--bs-white3) 2px solid;
  margin: 10px;
}

.nav-list li>a:hover {
  background-color: #293a52;
  color: var(--bs-whiteh);
  border: var(--bs-whiteh) 2px solid;
}*/
/* ///////////////////////// */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  top: 0;
  background-color: #2f435eec;
  backdrop-filter: blur(2px);
  width: 100%;
  box-sizing: border-box;
}

.navbar a {
  color: var(--bs-white3);
  text-decoration: none;
  padding: 10px;
  border: var(--bs-white3) 2px solid;
  margin: 10px;
}

.navbar .logo {
  color: var(--bs-white3);
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
}

.navbar .nav-links ul {
  display: flex;
  align-items: center;
  list-style: none;
}

/* .navbar .nav-links ul li {
  margin: 0 15px;
} */

.navbar .nav-links ul li.active a {
  color: #ed3c57;
  font-weight: 600;
}

.navbar .menu-hamburger {
  display: none;
  position: absolute;
  top: 50px;
  right: 30px;
  width: 35px;
}


@media screen and (max-width: 900px) {
  .navbar {
    padding: 3rem;
    background-color: #2f435eec;
    backdrop-filter: blur(2px);
  }

  .navbar .logo {
    position: absolute;
    top: 40px;
    left: 30px;

  }

  .navbar .menu-hamburger {
    display: block;
    align-items: center; 
    color: white;
  }

  .nav-links {
    top: 0;
    left: 0;
    position: absolute;
    background-color: #2f435e91;
    backdrop-filter: blur(1rem);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
  }

  .nav-links.mobile-menu {
    margin-left: 0;
  }

  .nav-links ul {
    position: absolute;
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-links ul li {
    margin: 25px 0;
    font-size: 1.2em;
  }
  header {
  display: flex;
  flex-direction:column;
  align-items: center;
  margin-top: 0px;
  padding: 100px;
}
.header_image{
  width: 440px;
  height:241px;
}
.form{
  flex-direction:column;
  align-items:cente;
  justify-content:center;
  margin:10px;
}
.form_content{
  width:60vh;
}
.form_info{
  width:auto;
}
}



header {
  display: flex;
  align-items: center;
  margin-top: 0px;
  padding: 100px;
}

.header_circle {
  height: 22rem;
  width: 22rem;
  right: 12rem;
  background-color: var(--bs-gray10);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  /* transform:
    perspective(1000px)
    rotateX(4deg)
    rotateY(-16deg)
    rotateZ(4deg); */
}

.header_circle {
  transform:
    perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
  filter: blur(2px);
  opacity: 0.5;
  transition: 0.6s ease all;
}

.header_img:hover .header_circle {
  transform:
    perspective(800px) rotateY(-15deg) translateY(-50px) rotateX(10deg) scale(1);
  filter: blur(0);
  top: 310px;
  opacity: 1;
}

/* contact form /////////////// */
/* .form::before{
  display: block;
  left: auto;
  right: auto;
} */

/* contact form css and heading///////////////// //// */

.section-title {
  position: relative;
  text-align: center;
  padding: 0 100px 40px 100px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.section-title h1:first-child {
  font-size: 8rem;
  -webkit-text-stroke: 1px #495a6b;
  color: transparent;
  position: relative;
  margin: 0;
}
.section-title h1 {
  color: #495a6b;
  font-size: 4rem;
  position: absolute;
}

@media screen and (max-width: 900px){
  .section-title h1:first-child {
    font-size: 12vw;
    -webkit-text-stroke: 1px #495a6b;
    color: transparent;
    position: relative;
    margin: 0;
  }
  .section-title h1 {
    color: #495a6b;
    font-size: 8vw;
    position: absolute;
  }
}
/* --------------------------- */

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;


}

form {
  padding: 30px;
  width: 40%;
  padding-bottom: 90px;
  background-color: var(--light);
}

.form_content {
  display: flex;
  flex-direction: column;
  box-shadow: -4px 0px 9px 0px var(--grayb);
}



.form_area {
  resize: none;
  margin: 10px;
}

input {
  padding: 20px;
  height: 3rem;
  outline: 0;
}

textarea {
  outline: 0;
  resize: none;
}

#name {
  width: 13rem;
}

#email {
  width: 13rem;
}

#form_submit {
  width: 8rem;
  text-align: center;
}

form>button {
  margin-left: 10px;
  padding: 10px;
  width: 8rem;
  color: var(--bs-white3);
  background-color: var(--bs-grayb);
  border-radius: 3px;
  border: none;
}

.form_links {
  padding: 120px 30px 120px 30px !important;
  width: 9.5cm;
  border-radius: 5px;
  padding-bottom: 90px;
  background-color: var(--bs-gray10);
}

.form_links-icons li {
  list-style: none;
}

.form_links-icons a>i {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.form_links-icons li {
  margin: 20px;
}

.form_links-icons a,
h1 {
  text-decoration: none;
  color: #f8f9fa;
}






/* Footer////////////////////////// */

.site-footer {
  background-color: var(--bs-grayb);
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

.copyright-text {
  margin: 0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.dribbble:hover {
  background-color: #51ea4c
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}